body {
    background: url("../images/Nature.jpg");
    background-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 28px;
    color: #black;
}

header {
    font-size: 28px;
    line-height: 42px;
}

.jumbotron {
    width: 50%;
    clear: both;
    float: center;
    padding: 20px;
    margin: 30px auto;
    background: #ffffff;
    border: 1px solid black;
    text-align: center;
}